.footer-container {
  background: #000;
  background: linear-gradient(90deg, #000 0%, #133350 100%);
  padding: 2rem ;
  margin-top: 1rem;
}
.footer-container > .footer-section {
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.footer-container ul {
  list-style: none;
  padding: 0;
}

.footer-container ul li {
  padding: 10px 0;
}
.footer-container * {
  color: #ffffff;
  text-decoration: none;
}

.footer-container h2 {
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.footer-container a {
  font-size: 1.2rem;
  font-weight: 400;
}
.footer-container p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7rem;
}
.footer-container .footer-col {
  flex-basis: 20%;
}
.footer-container .footer-col:last-of-type {
  flex-grow: 2;
}
@media only screen and (max-width: 767px) {
  .footer-container .footer-section {
    flex-direction: column;
    padding: 30px;
  }
  .footer-container .footer-col:not(:last-of-type) {
    margin-bottom: 4rem;
  }
}

@media (min-width: 1200px) {
  .footer-container .footer-section {
    width: 1200px;
  }

}

@media (max-width:1023px){
  .footer-container .footer-col {
    flex-basis: 25%;
  }
}